@import "nonestyle.css";
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);
.wraper {
	overflow: hidden;
}
body {
	font-family: "poppins";
	font-weight: 300;
	color: #6C757D;
	font-size: 14px;
	line-height: 25px;
	
}
.container-big{
	max-width: 1270px;
	margin: 0 auto;
	padding: 0px 15px;
}
.container {
	max-width: 845px;
	margin: 0 auto;
	padding: 0px 15px;
}
.title{
	font-weight: 700;
	font-size: 25px;
	line-height: 40px;
	color: #212529;
}
.header__title {
	margin-bottom: 40px;
}
.page {
	margin-bottom: 80px;
}
.page__text-quicly {
	margin-bottom: 20px;
}
.page__text-conveniently {
	margin-bottom: 20px;
}
.main__img-sand {
	width: 100%;
	margin-bottom: 80px;
}

.main__text-size{
	margin-bottom: 80px;
}

.main__title {
	margin-bottom: 40px;
	max-width: 605px;
}
.main__text-first {
	margin-bottom: 20px;
}



.main__img-size {
	font-size: 0;
	margin: 0 auto; 
	max-width: 1240px;
	margin-bottom: 80px;
}
.main__img-size img{
	max-width: 100%;
}
.img-women {
	margin-right: 30px;
}

.example {
	margin-top: 100px;
	background: #000;
	padding: 20px;
	font-size: 30px;
	color: #fff;
}
.div {
	text-align: center;
	margin: 40px 0	;
}
.lorem {
	text-align: right;
}
.fish {
	display: inline-block;
	background: #fff;
	color: #000;
	margin-bottom: 50px;
}
.img-qwe {
	display: block;
	margin: 0 auto;
	background: #fff;
	padding: 50px;
	margin-bottom: 20px;
}
.qwe {
	display: block;
	padding: 20px;
	background: #fff;
	color: #000;
	text-align: center;
}    
/* // специально на всю длину сылку! // */


.main__bacground {
	margin-top: 80px;
	margin-bottom: 100px;
}
.main__bacground img{
	width: 100%;
	height: 100%;	
}
.new-text-block__text-text-size{
	margin-bottom: 100px;
}

.new-text-block__text-1 {
	margin-bottom: 30px;
}
.new-text-block__title {
	max-width: 605px;
	margin-bottom: 100px;
}
.second-page {
	font-size: 0;
	margin-bottom: 100px;
	width: 100%;
}
.second-page__img {
	margin-right: 30px;
}
.img-second-page{
	max-width: 100%;
	border-radius: 5px;

}

.example-1 {
	border-top: 5px solid rebeccapurple;
	border-right: 2px dashed red;
	border-bottom: 3px solid #000;
	border-left: 1px dashed green;
}
.example-2 {
	outline: #be1e1e 4px solid;
	background-color: rebeccapurple;
	border-radius: 10px;
}
.example-circle{
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50%;
	margin: 40px auto;
	box-shadow: inset 0px 10px 20px 0px #000;
	opacity: 0.9;
}
.example-circle-hiden {
	visibility: hidden;
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50%;
	margin: 40px auto;
	box-shadow: inset 0px 10px 20px 0px #000;
	opacity: 0.9;
}

.example-example{
	width: 600px;
	margin: 10px auto;
	padding: 20px 10px;
	color: #000;
}
.example-bg{
	background-color: #1ebea9;
}
.example-example-container{
	width: 500px;
	margin: 0 auto;
}